
<footer class="text-center text-lg-start bg-white text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <div class="me-5 d-none d-lg-block">
        <span>Conéctate con nosotras en las redes sociales:</span>
      </div>
      
      
      <div>
        <a  class="me-4 link-secondary">
          <i class="bi bi-facebook"></i>
        </a>
        <a  class="me-4 link-secondary">
          <i class="bi bi-twitter"></i>
        </a>
        <a class="me-4 link-secondary">
          <i class="bi bi-google"></i>
        </a>
        <a  class="me-4 link-secondary">
          <i class="bi bi-instagram"></i>
        </a>
        <a  class="me-4 link-secondary">
          <i class="bi bi-linkedin"></i>
        </a>
        <a  class="me-4 link-secondary">
          <i class="bi bi-github"></i>
        </a>
      </div>
      
    </section>
   
    <section class="">
      <div class="container text-center text-md-start mt-5">
       
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <img [src]="img1" height="200" width="200" >
          </div> 
     
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
           
            <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
            <p><i class="fas fa-home me-3 text-secondary"></i>BookS-V</p>
            <p><i class="bi bi-people-fill me-3 text-secondary"></i>Jennyfer Estefania Oliva Caipe</p>
            <p><i class="bi bi-envelope-fill me-3 text-secondary"></i>
              stefania21oliva@udenar.edu.co</p>
            <p><i class="bi bi-people-fill me-3 text-secondary"></i>Vanessa Alejandra Diaz Mafla</p>
            <p><i class="bi bi-envelope-fill me-3 text-secondary"></i>vannessa41@udenar.edu.co</p>

          </div>
         
        </div>
        
      </div>
    </section>
    
    
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2022 Copyright: Todos los derechos reservados
    </div>
   
  </footer>
