
<app-navbar></app-navbar>

<img [src]="img2" class="mw-100" alt="...">

<footer class="page-footer" style="background-color:rgb(143, 196, 209)">
    <div class="d-flex align-content-end">
        <div class="flex-shrink-0">
        <img [src]="img1" height="100" width="100" >
        </div>
        <div class="flex-grow-1 ms-3">
            <p class="mt-1">Jennyfer Estefania Oliva Caipe</p>
            <p class="mt-2">Vanessa Alejandra Diaz Mafla</p>    
            <p class="mb-0 d-flex justify-content-end">Copyright © 2021. All right reserved.</p>            
            </div>
        </div>   
</footer>
